<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.example.dbcontactconsole"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon02" android:label="@string/app_name">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DbContactConsole"></activity>
        <activity android:name=".ContactDetails"
        	android:label="@string/contact_intent"
        	android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name=".BankDbContactConsole"></activity>
        <activity android:name=".BankDetails"
        	android:label="@string/bank_intent"
        	android:theme="@android:style/Theme.Dialog">
        </activity>
         <activity android:name=".CardDbContactConsole"></activity>
        <activity android:name=".CardDetails"
        	android:label="@string/card_intent"
        	android:theme="@android:style/Theme.Dialog">
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 